@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    @apply font-semibold
  }

  .input {
    @apply border p-1 rounded-md w-7/12 mb-4
  }

  .modal {
    margin-top: -4.5rem;
    @apply w-screen h-screen
  }

  .loader {
    border-radius: 50%;
    border-top: 5px dashed #43d2a3;
    border-bottom: 5px dashed #43d2a3;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .loader-inside {
    border-radius: 50%;
    border-top: 1px solid #43d2a3;
    border-bottom: 1px solid #43d2a3;
    width: 50px;
    height: 50px;
    -webkit-animation: spin2 2s linear infinite; /* Safari */
    animation: spin2 2s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin2 {
  0% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes spin2 {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}